In [1]:
#define the data path
Learn_Data_Path = './US_Census_Data/census_income_learn.csv'
Test_Data_Path  = './US_Census_Data/census_income_test.csv'

In [3]:
import pandas as pd
Train_Data_Set = pd.read_csv(Learn_Data_Path,sep=',', header=None, index_col=False)
Test_Data_Set = pd.read_csv(Test_Data_Path,sep=',', header=None, index_col=False)

In [9]:
Train_Data_Set.head(2)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.

NameError: name 'summary' is not defined